@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

body{font-family: 'Roboto Slab', serif;}
#recap {
    clear: both;
}

.form__themes {
    clear: both;
}

.form__themes__theme {
    float: left;
}

.events__event {
    display: block;
    width: 240px;
    height: 240px;
    float: left;
    margin: 4px;
    position: relative;
    background: lightGray center center;
    background-size: cover;
}

.events__event__label {
    position: absolute;
    bottom: 20px;
    background: white;
    width: 232px;
    height: auto;
    min-height: 20px;
    opacity: 0.9;
    padding: 4px;
}

.events__event__dates {
    position: absolute;
    bottom: 0;
    height: 10px;
    padding: 5px;
    font-size: 12px;
    color: #777;
    background: white;
    opacity: 0.9;
    width: 230px;
}

form.ng-scope{width:960px; margin:auto;}

form span.input-arriving input {font-family: 'Roboto Slab', serif;height:30px; margin-bottom:10px; width:383px; font-size:15px; color:#999;margin-right:4%}

form span.input-departing input {font-family: 'Roboto Slab', serif;height:30px; margin-bottom:10px; width:369px; font-size:15px; color:#999;}

span.category{height:30px}
div.form__themes__theme.ng-scope{height:30px}
span.category input{}

.selection-date  {margin-top:30px;margin-bottom:30px}

a.events__event {margin-lef:20px; margin-right:20px;}

div.data-1 {float:left; background-color:#090; width:48%; padding-top:10px; padding-bottom:10px;color:#FFFFFF; margin-right:2%; text-align:center; margin-top:10px; font-size:20px}
div.data-2 {float:left; background-color:#090; width:48%;  padding-top:10px; padding-bottom:10px; color:#FFFFFF; margin-left:2%; text-align:center;margin-top:10px;font-size:20px}

input#submit{ clear:both; margin-top:10px; background-color:#090; border:1px solid; width:150px; font-family: 'Roboto Slab', serif; font-size:20px; color:#ffffff; height:35px;}

.title-date {margin-bottom:15px;  background-color:#f4f4f4; padding:5px 0 5px 5px; font-size:22px;}

.title-ceck{margin-bottom:15px;  background-color:#f4f4f4; padding:5px 0 5px 5px; font-size:22px;}
.title-results{margin-bottom:15px; margin-top:15px;  background-color:#f4f4f4; padding:5px 0 5px 5px; font-size:22px;}

.date {height:50px; margin-bottom:10px;}

.list-category { list-style-type:circle; padding-left:10px;}